* {
    margin: 0;
    padding: 0;
}

/* NAV (MENU) */

.menu {
    background-color: #050d1a;
    display: flex;  /* Para alinear todos los elementos del menu */
    height: 80.5px;
}

nav ul {
    margin-right: 10%;
    margin-left: 5%;
    width: 70%;
    text-align: right;
    /*border: 1px solid peru;*/
    letter-spacing: -10px;
    
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    /*border: 1px solid green;*/
    word-spacing: normal;
    letter-spacing: normal;
    white-space: normal;
}

nav ul li a {
    color: #95dce0;
    display: block;
    line-height: 2.08em;
    padding: 1.2em 1em;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: 18px;
    /*border: 1px solid yellow;*/
    
}

nav ul li a:hover {
    color: #959ce0;
}

.logo {
    margin-left: 5%;
}

/* ESTILOS DROPDOWN (SUBMENU) MENU */

.submenu1 {
    position: relative;
}

.submenu2 {
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 1em;
    padding-top: 0.5em;  
    width: 11.5em;
    visibility: hidden;
    position: absolute;
    top: 5em;
    left: -3.7em;
    background: #253a5c;
    border-radius: 9px;
    /*border: 1px solid rgb(253, 0, 219);*/
    /*transition: visibility 0.3s linear, opacity 0.3s linear;*/
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;  
    transition: all .2s ease-in-out;
    z-index: 1;
}

.submenu1:hover > .submenu2 {
    /*nav.menu ul li ul:hover*/
    opacity: 1;
    visibility: visible;
    margin: 0;
    z-index: 1;
} 

nav.menu ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    border-style: none;
    list-style-type: none;
    /*border: 1px solid reD;*/
}

nav.menu ul li ul li a {
    /*border: 1px solid green;*/
    padding: 0;
    font-size: 15px;
}

/* EFECTOS PARA LOS ENLACES DEL MENÚ */
/*https://littlesnippets.net/blog/some-css-menu-inspiration-using-animated-lines*/

/* EFECTOS CAROUSEL */
/*https://codepen.io/studiojvla/pen/qVbQqW*/

/* CABECERA */

.image_ini {
    border: 1px solid black;
    height: 430px;
    display: flex;
    padding: 1%;
    padding-top: 2%;
}

.banner {
    border: 1px solid red;
    width: 50%;
    
}

.oculto {
    width: 0;
    height: 0;
    border-top: 26.5em solid #fff;
    border-right: 25px solid transparent;
    position: absolute;
    z-index: 1;
}


.imagen_portada {
    border: 1px solid orange;
    width: 50%;
    position: relative;
}

.imagen_portada .fotos  {
    display:block;
}





/* CAROUSEL IMÁGENES */

.carousel{
    height: 100%;
    width: 100vw;
    /*margin-bottom: 40px;*/
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

h1{
    color: #333
}

.carousel-inner{
    height: 100%;
    /* min-width: 400%; */
    display: flex;
    transition: all ease .5s;
}

.carousel-item{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.carousel-item h1{
    opacity: .5;
}

.carousel-controls .prev{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('prev.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.carousel-controls .next{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('next.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.prev:hover, .next:hover{
    opacity: 1;
}

.carousel-indicators{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.carousel-indicators span{
    display: inline-block;
    background-color: white;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    opacity: .5;
    cursor: pointer;
    margin: 3px;
}

.carousel-indicators span.active{
    opacity: 1;
}

footer{
    font-size: 13px;
    color: #333;
}

/* CONTENIDO */

.contenido {
    background-color: green;
    height: 90%;
    margin-top: 1%;
    padding: 3%;
    position: relative;
}

.fila1 {
    background-color: rgb(128, 105, 0);
    height: 50%;
    text-align: center;
    display: flex;
    padding: 3%;
    justify-content: center;
    align-items: center;

}

.fila2 {
    background-color: rgb(28, 0, 128);
    height: 50%;
    text-align: center;
    display: flex;
    padding: 3%;
    justify-content: center;
    align-items: center;
}

.contenido_1 {
    border: 1px solid black;
    width: 20%;
    padding: 2%;
    margin-right: 5%;
    margin-left: 5%;

}

