* {
    margin: 0;
    padding: 0;
}

/* NAV (MENU) */

.menu {
    background-color: #050d1a;
    display: flex;  /* Para alinear todos los elementos del menu */
    height: 80.5px;
}

nav ul {
    margin-right: 10%;
    margin-left: 5%;
    width: 70%;
    text-align: right;
    /*border: 1px solid peru;*/
    letter-spacing: -10px;
    
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    /*border: 1px solid green;*/
    word-spacing: normal;
    letter-spacing: normal;
    white-space: normal;
}

nav ul li a {
    color: #95dce0;
    display: block;
    line-height: 2.08em;
    padding: 1.2em 1em;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: 18px;
    /*border: 1px solid yellow;*/
    
}

nav ul li a:hover {
    color: #959ce0;
}

.logo {
    margin-left: 5%;
}

/* ESTILOS DROPDOWN (SUBMENU) MENU */

.submenu1 {
    position: relative;
}

.submenu2 {
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 1em;
    padding-top: 0.5em;  
    width: 11.5em;
    margin: 0 0.5rem;
    visibility: hidden;
    position: absolute;
    top: 5em;
    left: -3.7em;
    background: #253a5c;
    border-radius: 9px;
    /*border: 1px solid rgb(253, 0, 219);*/
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    animation: zoomOut;
    animation-duration: 0.4s;
}

.submenu1:hover > .submenu2 {
    /*nav.menu ul li ul:hover*/
    visibility: visible;
    opacity: 1;
    animation: zoomIn;
    animation-duration: 0.1s;
}

 

nav.menu ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    border-style: none;
    list-style-type: none;
    /*border: 1px solid reD;*/
}

nav.menu ul li ul li a {
    /*border: 1px solid green;*/
    padding: 0;
    font-size: 15px;
}

/* EFECTOS PARA LOS ENLACES DEL MENÚ */
/*https://littlesnippets.net/blog/some-css-menu-inspiration-using-animated-lines*/

/* EFECTOS CAROUSEL */
/*https://codepen.io/studiojvla/pen/qVbQqW*/

/* CABECERA */

.image_ini {
    border: 1px solid black;
    line-height: 20em;
    display: flex;
    padding: 1%;
    padding-top: 2%;
    border: 1px solid black;
}

.banner {
    border: 1px solid red;
    width: 50%;
}

.imagen_portada {
    border: 1px solid yellow;
    width: 50%;
}

.imagen_portada .fotos  {
    display:block;
    max-width:100%;
    height:auto;
    overflow:hidden;
}


